<style>
    .footer-bg {
        background: #010b1d;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
        .footer-padding {
            padding-top: 170px;
            padding-bottom: 20px;
        }

        .footer-padding {
            padding-top: 170px;
            padding-bottom: 20px;
        }
    }

    .footer-area .footer-tittle h4 {
        color: #ffffff;
        font-size: 20px;
        margin-bottom: 29px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .footer-area .footer-pera p {
        color: #868c98;
        padding-right: 52px;
        font-size: 16px;
        margin-bottom: 50px;
        line-height: 1.8;
    }

    .footer-area .footer-tittle ul {
        padding-left: 0;
    }

    .footer-area .footer-tittle ul li {
        color: #868c98;
        margin-bottom: 9px;
        list-style: none;

    }

    .footer-area .footer-tittle ul li a {
        color: #868c98;
        font-weight: 300;
        text-decoration: none;
    }
</style>

<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-bg footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>About Us</h4>
                                <div class="footer-pera">
                                    <p>
                                        We are the team of "MUKTOPRESHA".
                                        Build this website to make connection with outsourcing author and
                                        freelancer.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Contact Info</h4>
                            <ul>
                                <li>
                                    <p>Dhanmondi, Dhaka, Bangladesh</p>
                                </li>
                                <li>
                                    <a href="#">Phone : +8880 111111111</a>
                                </li>
                                <li>
                                    <a href="#">Email : contact@muktopesha.com.bd</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Important Link</h4>
                            <ul>
                                <li><a href="#"> View Client</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">See Jobs</a></li>
                                <li><a href="#">See Courses</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border text-center">
                This website's copyright preserved by Itana & Hafsa.
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>