<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login_signup.css' %}">
</head>
<body>
<div class="container">
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <h4 class="mt-1 mb-5 pb-1">We are welcoming you the Developer Team</h4>
                                    </div>

                                    <form class="form-group" method="post">
                                        {% csrf_token %}
                                        <p>Please complete the registration</p>

                                        <div class="form-outline mb-4">
                                            <input type="email" name="email" id="id_email" class="form-control"
                                                   placeholder="Write your email address"/>
                                            <label class="form-label" for="id_email">Email</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" name="password" id="id_password" class="form-control"
                                                   placeholder="Write your password"/>
                                            <label class="form-label" for="id_password" onmouseover="passwordToText()"
                                                   onmouseout="textToPassword()">
                                                Password
                                            </label>
                                        </div>

                                        <div class="form-outline mb-4" style="display: inline-flex;">
                                            <label class="form-label" for="id_group_1">
                                                <input type="radio" name="grp" id="id_group_1" value="Freelancer">
                                                Freelancer
                                            </label>
                                            &nbsp; &nbsp;
                                            <label class="form-label" for="id_group_2">
                                                <input type="radio" name="grp" id="id_group_2" value="Buyer">
                                                Buyer
                                            </label>
                                        </div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                                    type="submit">
                                                Signup
                                            </button>
                                        </div>

                                        <div class="d-flex align-items-center justify-content-center pb-4">
                                            <p class="mb-0 me-2">I have already an account?</p>
                                            <a type="button" class="btn btn-outline-danger"
                                               href="{% url 'App_auth:login' %}">
                                                Login now
                                            </a>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">We are more than just a company</h4>
                                    <p class="small mb-0">
                                        Always follow the given
                                        <a href="#" style="color: #fff; opacity: 0.8; font-weight: bolder;">
                                            guidelines
                                        </a>
                                        for not to be
                                        blocked by us, don't harm any client that will be as
                                        criminal case.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    let password = document.getElementById('id_password');
    const passwordToText = () => {
        password.type = 'text';
    }
    const textToPassword = () => {
        password.type = 'password';
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>